@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

@import 'scss/base/config';
@import 'scss/config/_mediaQueries';

@import 'scss/layout/_container';

@import 'scss/components/_button';


@import 'scss/layout/_header';
@import 'scss/components/_button&slider';
@import 'scss/layout/_counter';
@import 'scss/layout/_about-this-project';
@import 'scss/layout/_project-stand';
@import 'scss/layout/_modal';
@import 'scss/layout/_modal-pledge';
@import 'scss/layout/_support';


html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
body {
    font-size: 16px;
    font-family: 'Commissioner' , sans-serif;
}


