/*------Buttons Style------*/


.btn--close {
    color: #ccc;
    height: 20px;
    font-size: 30px;
    border: none;
    background-color: transparent;
}
.btn--close:hover, .btn--close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*------Activ class------ */
.bookmarked {
    color: var(--Dark-cyan);
}
.bookmarked--img {
    background-image: url(../images/icon-bookmarked.svg);
}



/*------Slider------*/
.slidecontainer {
    width: 100%;
    margin-top: 20px;
    .slider {
        width: 100%;
    }
}
/*------Pledge button and input------*/
.btn--pledge {
    height: 3rem;
    width: 7.5rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--Moderate-cyan);
    color: white;
    font-weight: 700;
}
.btn--pledge.active {
    background-color: var(--Dark-gray);
    opacity: 0.5;
}
#option0 {
    height: 2rem;
    width: 16.5rem;
    border-radius: 30px;
    border: 1px solid gainsboro;
    cursor: pointer;
}
#option, #option0, #option1, #option2 {
    height: 2rem;
    width: 7.5rem;
    border-radius: 30px;
    border: 1px solid gainsboro;
    cursor: pointer;
}
.btn--support {
    height: 3rem;
    width: 6rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--Moderate-cyan);
    color: white;
    font-weight: 700;
}
