.card {
    border-radius: 0.625rem;
    padding: 2.8125rem 2.1875rem 2.1875rem;
    margin-bottom: 0.9375rem;
    border: 0.0625rem solid map-get($color, c-gray);
    background-color: map-get($color, c-white);

}


.card__title {
    font-size: 1.75em;
    font-weight: 700;
    color: map-get($color , c-black);
    margin-bottom: 0.9375rem;
 
    &--center {
        text-align: center;
    }
}

.card__logo {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.card_desc {
    margin-bottom: 1.875rem;

    &--center {
        text-align: center;
    }
}

.card__action {
    display: flex;
    justify-content: space-between;
}