.donation {
    width: 100%;
    display: flex;
    margin-bottom: 1.5625rem;
    flex-direction: column;

    @include for-size(phone-large) {
        flex-direction: row;
    }
}

.donation__item {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;


    @include for-size(phone-large) {
        width: 33.33%;
        border-right: 0.0625rem solid map-get($color, c-gainsboro);

        padding-left: 1.875rem;

        &:nth-child(1) {
            padding-left: 0;
        }
    
        &:last-child {
            border: none;
        }
    }
}

.donation__item-header {
    margin-bottom: 0.625rem;
}

.donation__current-amount, #total_backer, #days_left {
    font-size: 2em;
    font-weight: 700;
}
#donation__target-amount, .donation__backer-total, .donation__days-left {
    color: map-get($color, c-dark-gray);
}


.donation__progress-bar {
    justify-self: center;
    background: map-get($color, c-gainsboro);
    height: 0.625rem;
    width: 100%;
    border-radius: 0.3125rem;
    position: relative;
    overflow: hidden;
}

.donation__progress-bar--filed {
    background: map-get($color, c-cyan);
    top: 0;
    left: 0;
    width: 0;
    height: 0.625rem;
    position: absolute;
    border-radius: 0.3125rem;
}