.header {
    width: 100%;
    height: auto;
    box-shadow: inset 0px 5rem 4.0625rem rgba(0,0,0,0.5);
    position: relative;
}

.header__img {
    width: 100%;
}

.header__desktop-img {
    display: none;
    @include for-size(phone-large) {
        display: block;
    }
}

.header__mobile-img {
    display: block;
    @include for-size(phone-large) {
        display: none;
    }
}