.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: scroll;
    padding: 0 20px;
    z-index: 1;

    @include for-size(phone-only) {    
        padding: 0;
    }
}

.modal-content {
    width: 100%;
    height: auto;
    max-width: map-get($app, container-main);
    background-color: map-get($color, c-white);
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 30px;

    @include for-size(phone-only) {    
        width: 90%; 
     }
}

.modal-header {
    display: flex;
    flex-direction: column;
    position: relative;
}


.modal-header__title {
    font-size: 1.75em;
    margin-bottom: 15px;
}


.modal-header__desc {
    color: map-get($color, c-dark-gray);
}


.modal-header__close {
    color: #ccc;
    height: 20px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.modal-body__item {
    display: flex;
    border: 1px solid map-get($color, c-gainsboro);
    padding: 25px 20px;
    border-radius: 10px;
    margin-top: 20px;

    @include for-size(phone-only) {    
        padding: 20px 17px; 
    }

    &.is-active {
        border-top: 1px solid map-get($color, c-cyan);
        border-right: 1px solid map-get($color, c-cyan);
        border-left: 1px solid map-get($color, c-cyan);
        border-radius: 10px 10px 0 0;
    }

    &.is-disabled {
        opacity: 0.5;
    }
}

.modal-body__item-cta {
    margin: 0 20px 0 0 ;
}

.modal-body__content-title {
    font-size: 1.1em;
    margin: 0 10px 10px 0;
    
    @include for-size(phone-large) {    
        font-size: 1.1em;
        margin: 0 0 10px 0;
    }
}

.modal-body__content-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.modal-body__content-value {
    display: none;

    @include for-size(phone-large) {    
        display: block;
    }
}
.modal-body__content-value--mob {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 1.25rem;

    @include for-size(phone-large) {    
        display: none;
    }
}
.modal-body__content-desc {
    margin: 5px 0 0 0;
    color: map-get($color, c-cyan);
    display: inline-block;

    @include for-size(phone-large) {    
        margin-left: 10px;
    }
}

.modal-body__content-text {
    color: map-get($color, c-dark-gray);
    font-size: 14px;
    line-height: 25px;
}

.modal-body__content-value {
    font-size: 1.1em;
    font-weight: bold;
}

.modal-body__content-value-text {
    color: map-get($color, c-dark-gray);
    font-weight: normal;
    margin-left: 7px;
}

.pledge-top {
    display: flex;
}

.modal-mahogany {
    border-radius: 10px;
}

.modal__text--header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.modal-p25 {
    margin-right: 195px;
    color: map-get($color, c-cyan);

    @include for-size(phone-only) {    
        margin: 0; 
    }
}

.modal-p75 {
    margin-right: 168px;
    color: map-get($color, c-cyan);

    @include for-size(phone-only) {    
        margin: 0; 
    }
}

.modal-p200 {
    margin-right: 121px;
    color: map-get($color, c-cyan);

    @include for-size(phone-only) {    
        margin: 0; 
    }
}

.product-amount-1, .product-amount-2, .product-amount-3 {
    display: block;

    @include for-size(phone-only) {    
        display: none; 
    }
}
.h1-left span{
    color: map-get($color, c-dark-gray);
    display: block;

    @include for-size(phone-only) {    
        display: none; 
    }
}


.panel {
    background-color: map-get($color, c-white);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 10px 10px;
}

.card.active {
    border-top: 1px solid map-get($color, c-cyan);
    border-right: 1px solid map-get($color, c-cyan);
    border-left: 1px solid map-get($color, c-cyan);
    border-radius: 10px 10px 0 0;
}

.card-panel.active {
    border-right: 1px solid map-get($color, c-cyan);
    border-left: 1px solid map-get($color, c-cyan);
    border-bottom: 1px solid map-get($color, c-cyan);
}
