@font-face {
    font-family: 'Commissioner-Regular';
    src: url('../assets/fonts/Commissioner-Regular.woff2') format('woff2'),
         url('../assets/fonts/Commissioner-Regular.woff') format('woff'),
         url('../assets/fonts/Commissioner-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}