.about {
    width: 100%;
    line-height: 1.8em;
    color: map-get($color, c-dark-gray);
    
    @include for-size(phone-small) {
        text-align: left;
    }
}

.about__title {
    margin-bottom: 1.25rem;
    color: map-get($color, c-black);
}

.about__desc {
    font-size: 0.95em;
    margin-bottom: 1.25rem;
    color: map-get($color, c-dark-gray);
    line-height: 1.8em;
}