.product__text-content {
    color: map-get($color, c-dark-gray);
    margin: 0 0 1.25rem 0;
}

.mahogany-edition {
    opacity: 0.5;
    padding: 1rem;

    p {
        margin: 1.25rem 0 1.875rem 0;
        line-height: 1.8em;
    }
    
    @include for-size(phone-small) {
        text-align: left;
    }
}
