.support {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 12.5rem;
    width: 100%;
    max-width: 31.25rem;
    height: auto;
    background-color: map-get($color, c-white);
    border-radius: 0.625rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 2.0625rem;
    text-align: center;
    z-index: 2;

    &__img {
        margin: 0.9375rem 0 0.9375rem 0;
    }

    &__title {
        margin-bottom: 0.9375rem;
    }

    &__text {
        line-height: 1.8em;
        margin-bottom: 0.9375rem;
    }

    @include for-size(phone-only) {    
        width: 90%; 
        height: auto;
        top: 3.125rem;
    }
}
