

.product__text-content {
    color: map-get($color, c-cyan);
    margin: 0;
}

.mahogany-edition {
    opacity: 0.5;
    padding: 16px;
    p {
        margin: 20px 0 30px 0;
        line-height: 1.8em;
    }
    @include for-size(phone-small) {
        text-align: left;
    }
}
