.btn {
    height: auto;
    width: auto;
    padding: 1.25rem 1.5625rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: map-get($color, c-white);

    &--cyan {
        background-color: map-get($color, c-cyan);
    }

    &--disabled {
        border: none;
        cursor: pointer;
        font-weight: 700;
        background-color: map-get($color, c-dark-gray);
        color: map-get($color, c-white);
    }
    
    &--bookmark {
        width: 55px;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-color: map-get($color , c-white);
        padding: 0;
        &.active {
            color: map-get($color, c-dark-cyan);
        }
        @include for-size(phone-large) {
            height: 3.5rem;
            width: 9.5rem;
            border: 1px solid map-get($color, c-gainsboro);
            padding: 0;
            color: map-get($color, c-black);
            font-weight: 700;
        }
    }

    &:hover {
        background-color: map-get($color, c-dark-cyan);
        color: map-get($color, c-white);
    }
}

.btn--bookmark-img {
    display: block;
    padding: 0;
    &--booked {
        display: none;
        padding: 0;
    }
}

.btn--bookmark__text {
    display: none;

    @include for-size(phone-large) {
        display: block;
        margin-left: 10px;
    }
}