.product {
    width: 100%;
    margin-top: 20px;
    border: 1px solid map-get($color, c-gainsboro);
    padding: 1rem;
    border-radius: 10px;

    &.is-disabled {
        opacity: 0.5;
    }

    @include for-size(phone-only) {
        text-align: left;
    }
}
.product__header, .product__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.product__title {
    font-size: 1.3em;
}
.product__price {
    color: map-get($color, c-dark-gray);
    margin: 20px 0 30px 0;
    line-height: 1.8em;
}
.product__amount {
    display: flex;
    align-items: center;
    justify-content: center;
}