$app: (
    container-main: 1200px,
);


$color: (
    c-cyan: #3cb4ac,
    c-dark-cyan: #147B74,
    
    c-dark-gray: #7A7A7A,
    c-gainsboro: #dcdcdc,
    c-split-line: #d3d3d3,
    c-modal-background: #000000,

    c-black: #000,
    c-white: #fff,

)